// color
$body_colors: #FAFAFA;
$white: #fff;
$white_dark: #E6E6E6;
$white_dark2: #e6eef8;
$white_light: #f0f0f0;
$white_light2: #fff8ee;
$bg_look: #F5F5F5;
$border: #e9ecef;
$black: #000;
$black_light: #1A1A1A;
$black_light2: #020105;
$gray: #333;
$gray_light2: #343a40;
$light_green: #e2f5e4;
$blue: #3376C7;
$orang: #ffb84d;
$orang2: #ffe6e6;
$orang3: #fff7ee;
$light_orang: #ffeaca;
$light_orang2: #fff4ee;
$light_orang3: #ffe2b8;
$red: #ff0000;
$green: #00ae11;


$gray_light: #d5d5d5;
$blue_light: #4880ff;
$green_light: #00b69b;
$red_light: #f93c65;
$yellow_light: #ffd56d;

// light mode

$bg_light: #f5f6fa;
$black_light: #202224;

// dark mode

$bg_dark: #1b2431;
$black_dark: #273142;

// fonts

$nunito_fonts:  "Noto Serif", serif;
