.events__add-light,
.events__add-dark {
  width: 100%;
  height: 400px;
  margin-top: 35px;
  border-radius: 24px;
  box-shadow: 1px 0px 32px -4px rgba(17, 17, 17, 0.08);
  position: relative;

  form {
    button {
      width: 200px;
      height: 40px;
      border-radius: 12px;
      padding-left: 10px;
      font-size: 18px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0px;
      margin: 20px;
      background: $blue_light;
      color: $white;
    }

    .events__form__wrtapper {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 100px;
      padding: 50px;
      padding-top: 70px;
      .events__form__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;

        .image-upload-wrapper {
          position: relative;
          display: inline-block;
        }

        .hidden-file-input {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          cursor: pointer;
        }

        img {
          width: 200px;
          height: 200px;
          padding: 15px;
          border-radius: 16px;
          object-fit: contain;
          cursor: pointer;
          box-shadow: 1px 0px 32px -4px rgba(87, 87, 87, 0.589);
          }

        h4 {
          color: $blue;
          text-align: center;
          font-size: 18px;
          font-weight: 400;
          margin-top: 14px;
          cursor: pointer;
        }
      }

      .events__form__right {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;

        .events__form__right-top {
          display: grid;
          grid-template-columns: 1fr;
          gap: 60px;
          align-items: start;

          h2 {
            font-size: 16px;
            font-weight: 600;
            transition: all 0.5s ease-in-out;
          }

          .events__form__data {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
            gap: 14px;
            width: 100%;

            .events__form__info {
              display: flex;
              flex-direction: column;
              gap: 5px;

              label {
                font-size: 22px;
                font-weight: 600;
                margin-bottom: 10px;
                transition: all 0.5s ease-in-out;
                letter-spacing: 1px;
              }

              input {
                width: 100%;
                height: 40px;
                border-radius: 12px;
                padding-left: 10px;
                font-size: 16px;
                font-weight: 400;
              }

              .events__input__file-light,
              .events__input__file-dark {
                width: 100%;
                height: 40px;
                border-radius: 12px;
                display: flex;
                align-items: center;
                cursor: pointer !important;
                padding-left: 10px;
                position: relative;

                p {
                  font-size: 16px;
                  font-weight: 400;
                  cursor: pointer !important;
                }

                input[type="file"] {
                  opacity: 0;
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  cursor: pointer !important; 
                  z-index: 10;
                }
              }

              .events__input__file-light {
                background: $white !important;
                border: 1px solid $border !important;
                color: $black_light !important;
              }

              .events__input__file-dark {
                color: $white !important;
                background: $black_dark !important;
                border: 1px solid #cfcfcf1c !important;
              }

              select {
                width: 100%;
                height: 40px;
                border-radius: 14px;
                padding-left: 10px;
                font-size: 16px;
                font-weight: 400;
              }
            }
          }
        }

        .hr {
          width: 100%;
          height: 2px;
          background: $white_dark;
          margin: 40px 0;
          grid-column: span 2;
        }

        .events__form__right-bottom {
          display: grid;
          grid-template-columns: auto 1fr;
          gap: 60px;
          align-items: start;

          h2 {
            color: $black_light2;
            font-size: 16px;
            font-weight: 600;
          }

          .events__form__info {
            display: flex;
            flex-direction: column;
            gap: 8px;

            label {
              color: $black_light2;
              font-size: 14px;
              font-weight: 400;
            }

            .form__right__select {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%;
              height: 40px;
              border-radius: 12px;
              border: 1px solid $border;
              background: transparent;
              padding: 0 12px;
              font-size: 14px;
              color: $gray;
            }

            .form__right__icon {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}
