.saidbar,
.saidbar_dark {
  min-width: 300px;
  height: 100vh;
  transition: min-width 0.3s ease;

  .logo {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 10px 20px 30px 20px;

    h1 {
      font-size: 25px;
      padding-left: 20px;
      transition: all .5s ease;
    }
  }

  .saidbar_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .saidbar_link.active,
  .saidbar_link_dark.active {
    width: 90%;
    height: 60px;
    background: $blue_light;
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    padding-left: 35px;
    gap: 20px;
    border: 2px solid #00000000;
    border-radius: 0px 10px 10px 0px;

    & .saidbar_icon {
      color: $white_light;
      font-size: 28px;
      padding-top: 5px;
    }

    & .saidbar_text {
      font-family: $nunito_fonts;
      color: $white_light;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 20px;
    }
  }

  .saidbar_link,
  .saidbar_link_dark {
    width: 90%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: start;
    box-sizing: border-box;
    padding-left: 35px;
    gap: 20px;
    border-radius: 0px 10px 10px 0px;
    transition: 0.4s linear;

    &:hover {
      background: $blue_light;
      border: 2px solid #00000000;
    }

    &:hover .saidbar_icon,
    &:hover .saidbar_text {
      color: $white_light;
    }

    & .saidbar_icon {
      font-size: 28px;
      padding-top: 5px;
    }

    & .saidbar_text {
      font-family: $nunito_fonts;
      font-weight: 500;
      letter-spacing: 2px;
      font-size: 20px;
    }
  }
}

.saidbar_open {
  min-width: 100px;

  .logo {
    h1 {
      width: 95px;
      padding-left: 0;
      text-align: center;
      transition: all .5s ease;
    }
  }

  .saidbar_link.active,
  .saidbar_link_dark.active,
  .saidbar_link,
  .saidbar_link_dark {
    margin: 0 auto;
    border-radius: 10px;
    width: 80%;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .saidbar_icon {
      font-size: 36px;
      padding-top: 5px;
    }

    & .saidbar_text {
      display: none;
    }
  }
}
